/* @import "tailwindcss"; */

html, body {
  margin: 0;
  padding: 0;
  outline:none;
  border:none;
}

/* [data-rmiz]{
  z-index: -10;
} */

.overlay{
z-index: 9999;
}

.slide-pane__overlay.overlay-after-open{
  z-index: 2;
}

a {
outline:none;
border:none;
}

/* .slide-pane_from_right.content-after-open{
  width:92%;
} */
